@charset "UTF-8";

/* --------------------------------------*
 * reset and base
 *-------------------------------------- */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
hr,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    margin: 0;
}

header {
    width: 1280px;
    height: 50px;
    padding: 0 80px 0 30px;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 33%;
    max-width: 180px;
    position: fixed;
    left: 3%;
    top: 20px;
    z-index: 15;
    filter: drop-shadow(0px 2px 5px #47499c);
}

.fixedbox {
    width: 100%;
    height: 100px;
    background: rgba(125, 151, 198, 0.90);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 10;
}

.pc-nav {
    position: fixed;
    font-size: 20px;
    z-index: 16;
    width: 50%;
    margin-left: 50%;
    font-weight: 700;
}

.pc-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 37px 0;

}

.pc-nav ul li a {
    text-decoration: none;
    color: #3655a1;
    opacity: 1;
}

.pc-nav .pc-nav-active a {
    color: #ffb22f;
    font-weight: 800;
}

.pc-nav li.pc-nav-li:hover a {
    opacity: 0.4;
}

body {
    margin: 0;
    background-image: url(../img/back_img.png);
    background-size: 100% auto;
    background-repeat: repeat-y;
}



.background_image {
    margin: auto 15.6%;
    width: 67%;
    height: 5%;
    flex-shrink: 0;
}

ul {
    display: flex;
    max-width: 100%;
    align-items: center;
    gap: 200px;
}


.section_date and time {
    display: flex;
    width: 1079px;
    height: 744px;
    padding: 50px;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
    flex-shrink: 0;
}

.btn__container {
    display: flex;
    width: 1080px;
    height: 83px;
    justify-content: center;
    align-items: center;
    gap: 100px;

}

.btn--gradation {
    display: flex;
    width: 245px;
    height: 60px;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 36px;
    border: 3px solid var(--_, #093D8A);
    background: linear-gradient(95deg, #BAE4ED 0.86%, #FCFFEE 100.78%);
}

a {
    width: 144px;
    flex-shrink: 0;
    color: var(--_, #093D8A);
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
}

.section_SNS {
    display: flex;
    height: 558px;
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
    gap: 80px;
    border-radius: 20px;
    background: #9FD1D5;

    /* 10*10_70% */
    box-shadow: -10px 10px 20px 0 rgba(0, 0, 0, 0.40);
}

.SNS_container {
    display: flex;
    width: 297px;
    height: 524px;
    padding: 100px 25px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background: #D4FDEF;
}

.section_shop {
    display: flex;
    width: 1080px;
    height: 1295px;
    padding-bottom: 50px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    border-radius: 10px;
}

.dodai {
    width: 280.059px;
    height: 128.491px;
    flex-shrink: 0;
    fill: #668695;
    stroke-width: 5px;
    stroke: #3E474B;
}

div.content {
    width: 1210px;
    padding: 65px 0;
    margin: 0 auto;
    border-radius: 50px;
    background: rgba(76, 107, 158, 0.70);
}

div.frame {
    width: 1080px;
    margin: 0 auto;
    border-radius: 30px;
    background: #25344D;
}

section.greeting_content {
    margin: 0 100px;
    padding: 100px 0;
    display: grid;
    grid-template-areas: "img name"
        "comment comment";
    grid-template-columns: 1fr 1fr;
}

img.greeting_img {
    grid-area: img;
}

h2.greeting_name {
    margin: auto;
    font-size: 48px;
    font-weight: 700;
    color: #DBE9FF;
    grid-area: name;
}

p.greeting_comment {
    margin: 80px 0 0 0;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2.4px;
    line-height: 185%;
    color: #DBE9FF;
    grid-area: comment;
}

p.greeting_comment3 {
    letter-spacing: 1.6px;
}

.creator .creator_top {
    margin: 54px;
}

.creator h2 {
    margin: 0 0 54px 0;
    color: #DBE9FF;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.creator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creator_grid {
    padding: 75.58px 50px 75.58px 50px;
    margin: 0 0 150px 0;
    width: 842px;
    height: 520px;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0 2px 10px 0 rgba(121, 88, 255, 0.30);
    display: grid;
    grid-template-areas: "creatorimg creatorh3"
        "creatorimg creatorp";
    grid-template-columns: 419px 1fr;
    grid-template-rows: 112px auto;
    align-items: start;
}

.creator_grid h3 {
    margin: 0;
    color: #093D8A;
    font-family: "Noto Sans JP";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    grid-area: creatorh3;
}

.creator_grid img {
    grid-area: creatorimg;
}

.creator_grid p {
    margin: 0;
    color: #093D8A;
    font-family: "Noto Sans JP";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    grid-area: creatorp;
}

.section__precautions-content {
    width: 95%;
    margin-inline: auto;
    display: flex;
    padding: 30px 57px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #3655a1;
}

.section__precautions-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 600px;

}

.section__precautions-attention {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section__precautions-heading {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    /* 24px */
    letter-spacing: 0.48px;
}

.section__precautions-list {
    padding-left: 20px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section__precautions-item {
    /* list-style: disc; */
}

.section__precautions-item a {
    color: #ffffff;
}